<div class="container">
	<div>
		<h1>{{ site.texture.title }}</h1>
		<p>{{ site.texture.tagline }}</p>
		<!--<p>{{ site.email }}</p>-->
		<ul class="social">
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
			<!--<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a> -->
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
			<a href="/assets/SharonKnieper_resume.pdf"><li><u>Download resume</u></li></a>
		</ul>

	</div>
	<div class="portrait">
		<img src="/assets/SRK-headshot.jp2" alt="Sharon Knieper headshot">
	<div>

</div>
