//SRK custom stylesheet
/*
font-family: 'Julius Sans One', sans-serif;
*/

h1, h2, h3 {
  font-family: 'Julius Sans One', sans-serif;
}

header{
  padding: 40px 0;
  a {
    color: white;
    &:hover{
      border-color: white;
    }
  }
  .container{
    //display: flex;
    //justify-content: space-between;
  //  align-items: center;
    max-width: 100%; //overriding theme default
    margin-bottom: 20px;
    text-align: right;
  }
}

.texture-SRK{
//  background-color: #581845;
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url('/assets/SRK-68.jpg');
//  background-image: url('/assets/SRK-68.jpg');
  background-size: 100vw;
  min-height: 60vw;
}

.navbar{
  ul{
    li{
      border: 0px;
    }
  }
}

.social{
  display: inline-block;
  }
